# Backloggd
BACKLOGGD_EMAIL=
BACKLOGGD_PWD=
BACKLOGGD_STORAGE_STATE_PATH=storage/backloggd-state.json

# PS Timetracker
PS_TIMETRACKER_CODE=
PS_TIMETRACKER_PSN_NAME=
HEADLESS=true

# Tools
SYNC_DEBUG=true
SYNC_REFERENCE_DAYS_OFFSET=-1

